In [1]:
import pandas as pd

data = pd.read_csv("./data/train.csv")

In [2]:
name_length = []
dsc_length = []
for i in range(len(data)):
    name_length.append(len(data.loc[i]["name"].split()))
    dsc_length.append(len(data.loc[i]["description"].split()))

In [3]:
import math


def check_length(li):
    li.sort()
    print("avg", sum(li)/len(li))
    print("min", min(li))
    print("max", max(li))
    print("95%", li[int(len(li)*0.90)])

check_length(name_length)
check_length(dsc_length)

avg 8.969278399618958
min 2
max 32
95% 15
avg 37.08787806620624
min 1
max 946
95% 94

In [4]:
import math


def check_length(li):
    li.sort()
    print("avg", sum(li)/len(li))
    print("min", min(li))
    print("max", max(li))
    print("80%", li[int(len(li)*0.90)])

check_length(name_length)
check_length(dsc_length)

avg 8.969278399618958
min 2
max 32
80% 15
avg 37.08787806620624
min 1
max 946
80% 94

In [5]:
def createVec(documents, word_model):
    print("start create vecs...")
    vecs = []
    labels = []
    for doc in documents:
        vec = []
        for word in doc.sentence:
            if word in word_model:
                vec.append(word_model[word])
            # else:
            #     vec.append([np.random.uniform(-0.01, 0.01) for i in range(embedding_dim)])
        t = len(vec)
        if t >= 0:
            if t == 0:
                vec.append([np.random.uniform(-0.01, 0.01) for i in range(embedding_dim)])
            if t < max_len:
                i = 0
                while len(vec) < max_len:
                    vec.append(vec[i])
                    i += 1
            else:
                vec = vec[:max_len]
            vecs.append(vec)
            labels.append(doc.polarity)
    print("create vecs successfully...")

    return vecs, labels

In [6]:
import pandas as pd

a = pd.read_csv("./data/new_train_data.csv")

In [7]:
len(a)

4199

In [8]:
import numpy as np
tmp = pd.DataFrame(np.repeat(a[a['new_label']==18].values, 1, axis=0))
tmp.columns = ['id', 'name', 'description', 'label', 'new_label']

In [9]:
train = pd.concat([a, tmp]).reset_index(drop=True)

In [10]:
tmp

,id,name,description,label,new_label
0,3152,85 104 116 98 115 115 102 88 102 105 99 117 10...,14717871 14782384 14925705 15703709 14781592 1...,14784131 14858934 14784131 14845064,18

In [11]:
train

,id,name,description,label,new_label
0,0,14717598 14854817 15697796 15706258 47 1478313...,14782903 14925723 14782910 14851258 14853009 1...,14783134 15697333 14854817 14925479,0
1,1,99 126 108,100 117 106,14847385 14844587 14848641 14847398,1
2,2,14858120 14720698 88 14790566 14859144 1570624...,14854577 14859690 14847406 14718849 14850444 1...,14786237 15697082 14722731 14924977,2
3,3,14858412 14720387 14782100 15710881 88 110 104...,14858412 14720387 14782100 15710881 110 104 11...,14844093 15705739 14854331 15699885,3
4,4,14783417 14719931 70 105 99 117 104 110 99,14783417 14719931 14720179 14783914,15632285 15706536 14721977 14925219,4
...,...,...,...,...,...
4195,4195,14786237 15697082 14854565 14785418 88 112 98 ...,14786237 15697082 14854565 14785418,14847385 14844587 14848641 14847398,1
4196,4196,14847399 14792126 14844563 14728335 14724264 1...,14782100 14846647 14858120 14721711 15252363 1...,14924216 14781104 14717848 14791612,6
4197,4197,14785422 14853303 14859198 14859922,14717871 14925193 14782864 15644347 14859198 1...,15632285 15706536 14721977 14925219,4
4198,4198,15706282 15636660 14854817 14925479 82 116 98 ...,14728324 14925479 14924472 14717871,14844593 14924945,15
4199,3152,85 104 116 98 115 115 102 88 102 105 99 117 10...,14717871 14782384 14925705 15703709 14781592 1...,14784131 14858934 14784131 14845064,18

In [12]:
train.to_csv("./data/good_data.csv", index=False)